# Created by https://www.gitignore.io/api/linux,macos,composer,phpstorm+all

### Composer ###
composer.phar
/vendor/

### Symfony ###
/var/

### Testing and QA Tools ###
.phpunit.cache/
.phpstan/
coverage/
.php-cs-fixer.cache
.php_cs.cache

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### PhpStorm+all ###
.idea/
*.iml
modules.xml
*.ipr
*.iws
